* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
.header-background {
  width: 100%;
  min-height: 400px;
  background-image: url("https://cdn.pixabay.com/photo/2016/04/24/17/27/wood-1350175__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
.blog-text h1,
.blog-text a {
  color: white;
}
.blog-title h1 {
  font-size: 50px;
  font-weight: 700;
}
